@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

/*центрирование раздела (вместо контейнера)*/
.center {
  padding: 0 calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left, .header-right {
  display: flex;
  align-items: center;
}
.header-form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}
.header-logo-name, .header-letter {
  margin-left: -5px;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-name:hover, .header-letter:hover {
  color: #f16d7f;
  text-shadow: 0 0 2px #f16d7f;
}
.header-letter {
  font-weight: 900;
  color: #f16d7f;
}
.header-form {
  outline: 1px solid #e6e6e6;
}
.header-browse {
  height: 38px;
  width: 87px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  outline: 1px solid #e6e6e6;
  position: relative;
}
.header-browse:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
}
.header-browse[open] .drop {
  display: flex;
  top: 38px;
  z-index: 20;
}
.header-summary {
  margin-top: 10px;
  margin-left: 10px;
}
.header-browse-input {
  height: 34px;
  width: 317px;
  font-size: 14px;
  color: #a4a4a4;
  letter-spacing: 0.03em;
  padding-left: 16px;
  margin-left: 2px;
  margin-right: 16px;
}
.header-browse-button {
  outline: 1px solid #e6e6e6;
  width: 38px;
  background-color: #fff;
}
.header-browse-button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
}

.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  margin-right: 13px;
}
.logo-image:hover {
  filter: drop-shadow(0px 0px 10px #f16d7f);
}

button, .button, input {
  border: none;
}

button, .button {
  height: 38px;
}

.button-account {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.03em;
  position: relative;
}
.button-account:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.17);
}
.button-account:focus + .drop {
  display: flex;
  top: 70px;
  z-index: 1;
}

.arrow {
  margin-left: 8px;
}

.cart-image {
  margin-right: 37px;
}
.cart-image:hover {
  filter: drop-shadow(0px 0px 10px #a3a3a3);
}

.nav {
  height: 51px;
}

.menu {
  list-style-type: none;
  /* убираем точки в списке */
  display: flex;
  justify-content: center;
}
.menu-link {
  display: block;
  padding: 17px 35px;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.menu-list {
  position: relative;
}
.menu-list:hover .drop {
  display: flex;
}

.drop {
  background-color: white;
  border-radius: 5px;
  padding: 12px 20px;
  position: absolute;
  display: none;
  top: 46px;
  border: 1px solid #ececec;
}
.drop-last {
  right: 0;
}
.drop-center {
  left: -80px;
}
.drop-flex {
  width: 234px;
  margin-right: 46px;
}
.drop-flex:last-of-type {
  margin-right: 0;
}
.drop-h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
}
.drop-link {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}
.drop-link:hover {
  color: #f16d7f;
}
.drop-ul {
  list-style-type: none;
}
.drop-ul-link {
  margin-left: -17px;
  position: relative;
}
.drop-ul-img {
  margin-top: 18px;
}

.super-sale {
  position: absolute;
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 28px;
  text-transform: uppercase;
  text-align: right;
  left: 174px;
  top: -47px;
}

.slider {
  height: 614px;
  background-color: #e8e8e8;
  background-image: url(img/slider-bg.png);
  background-position: center -51px;
  background-repeat: no-repeat;
  display: flex;
}
.slider-left {
  border-left: 12px solid #f16d7f;
  padding-left: 10px;
  margin-bottom: 295px;
  margin-top: 225px;
}
.slider-h1 {
  line-height: 45px;
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.slider-h3 {
  line-height: 32px;
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
}
.slider-fashion {
  color: #f16d7f;
}

.banner {
  margin-top: 98px;
  height: 921px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 21px;
  grid-template-rows: 261px 261px 261px;
}
.banner-bg-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 542px;
  background-image: url(img/banner-bg-1.png);
}
.banner-bg-2 {
  height: 261px;
  background-image: url(img/banner-bg-2.png);
}
.banner-bg-3 {
  grid-row-start: 3;
  grid-column-start: 1;
  height: 261px;
  background-image: url(img/banner-bg-3.png);
}
.banner-bg-4 {
  height: 542px;
  background-image: url(img/banner-bg-4.png);
}
.banner-text {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 25px;
  display: inline-block;
  padding: 16px 20px;
  background-color: white;
}
.banner-text-pink {
  color: #f16d7f;
}

.banner-bg-1, .banner-bg-2, .banner-bg-3, .banner-bg-4 {
  width: 560px;
  transition-duration: 0.7s;
}
.banner-bg-1:hover, .banner-bg-2:hover, .banner-bg-3:hover, .banner-bg-4:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.17);
}

.prod-item-height {
  width: 261px;
  margin-top: 50px;
  position: relative;
}
.prod-item-height:hover .prod-img {
  transition-duration: 0.5s;
  filter: brightness(50%);
}
.prod-item-height:hover .product-add, .prod-item-height:hover .product-add-prod-r, .prod-item-height:hover .product-add-prod-l {
  transition-duration: 0.5s;
  display: flex;
}

.product-add, .product-add-prod-r, .product-add-prod-l {
  position: absolute;
  top: 97px;
  left: 70px;
  height: 39px;
  width: 123px;
  border: 1px solid white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
.product-add-prod-l {
  width: 57px;
  top: 144px;
}
.product-add-prod-r {
  width: 57px;
  top: 144px;
  left: 136px;
}
.product-add:hover, .product-add-prod-l:hover, .product-add-prod-r:hover {
  box-shadow: 0 0 5px #fff;
}
.product-add img, .product-add-prod-l img, .product-add-prod-r img {
  margin-right: 5px;
}

.product-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 0.03em;
}

.product-h1 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 0.03em;
}

.product-h3 {
  color: #9f9f9f;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prod-link {
  display: flex;
}

.product-item-1, .product-item-2, .product-item-3,
.product-item-4, .product-item-5, .product-item-6,
.product-item-7, .product-item-8 {
  background-repeat: no-repeat;
}

.product-item-1 {
  margin-left: 0;
  background-image: url(img/product-item-1.png);
}

.product-item-2 {
  background-image: url(img/product-item-2.png);
}

.product-item-3 {
  background-image: url(img/product-item-3.png);
}

.product-item-4 {
  background-image: url(img/product-item-4.png);
}

.product-item-5 {
  margin-left: 0;
  background-image: url(img/product-item-5.png);
}

.product-item-6 {
  background-image: url(img/product-item-6.png);
}

.product-item-7 {
  background-image: url(img/product-item-7.png);
}

.product-item-8 {
  background-image: url(img/product-item-8.png);
}

.product-text, .product-price {
  margin: 18px;
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
}

.button-prod-div {
  display: flex;
  justify-content: center;
}

.button-product {
  margin-top: 79px;
  padding: 5px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.03em;
}
.button-product:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.17);
}

.feature {
  display: flex;
  padding-top: 150px;
}
.feature-left {
  display: flex;
}
.feature-text {
  font-weight: 700;
  margin-left: 20px;
  margin-top: 160px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}
.feature-text-block {
  margin-right: 20px;
}
.feature-text-pink {
  color: #f16d7f;
}
.feature-right {
  background-color: #222224;
}
.feature-right-text {
  margin-top: 60px;
  display: flex;
  color: #fff;
}
.feature-pic {
  width: 800px;
  height: 500px;
  background: url(img/girl-in-snow.png), url(img/girl-in-snow-2-bg.png) no-repeat center;
  background-size: cover;
}
.feature-h3 {
  font-size: 20px;
  color: #fbfbfb;
  font-weight: bold;
}
.feature-image {
  margin-left: 15px;
  margin-right: 15px;
  height: 35px;
  width: 45px;
}

.feat-text {
  font-size: 16px;
  color: #fbfbfb;
  line-height: 1.715;
}

.subscribe {
  margin-top: 220px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, rgba(213, 210, 211, 0.5), rgba(214, 211, 213, 0.5)), url(img/surf.jpg) no-repeat center;
  background-size: cover;
  height: 438px;
}
.subscribe-left {
  display: flex;
  margin-top: 111px;
}
.subscribe-girl {
  height: 83px;
  width: 83px;
}
.subscribe-citate {
  font-size: 0.5cm;
  color: #222224;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
}
.subscribe-text-block {
  margin-left: 30px;
}
.subscribe-citate-name {
  font-size: 22px;
  color: #f16d7f;
  margin-bottom: 7px;
}
.subscribe-citate-place {
  color: #222224;
}
.subscribe-right {
  margin-left: 50px;
  margin-top: 148px;
  text-align: center;
}
.subscribe-h1 {
  font-size: 30px;
  color: #222224;
  margin-bottom: 20px;
}
.subscribe-h3 {
  font-size: 20px;
  color: #222224;
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 62px;
  width: 270px;
  font-size: 15px;
  background-color: #d6d6d6;
  color: #222224;
  letter-spacing: 0.03em;
  padding-left: 36px;
  margin-left: 2px;
  padding-right: 30px;
}
.subscribe-button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 60px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.03em;
}
.subscribe-button:hover {
  box-shadow: 1px 1px 15px #f16d7f;
}

.line {
  height: 5px;
  width: 45px;
  background-color: #d6d6d6;
  margin-right: 15px;
  margin-top: 50px;
}
.line:hover {
  background-color: #f16d7f;
}
.line-items {
  display: flex;
}

.footer {
  margin-top: 150px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.footer-info {
  width: 500px;
}
.footer-info-text {
  margin-top: 20px;
  font-size: 0.494cm;
  color: #898989;
  line-height: 1.715;
}
.footer-column-text {
  font-size: 0.564cm;
  color: #898989;
  line-height: 2.69;
}
.footer-column-text:hover {
  color: #f16d7f;
}
.footer-column-h3 {
  margin-bottom: 20px;
  font-size: 0.635cm;
  color: #f16d7f;
  font-weight: bold;
  line-height: 1.444;
}
.footer-column-h3:hover {
  text-shadow: 0 0 2px #f16d7f;
}
.footer-society {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  height: 2.787cm;
}
.footer-society-text {
  font-size: 0.564cm;
  color: #7a7a7a;
  line-height: 2.628;
}
.footer-societ-img-block {
  display: flex;
  align-items: flex-end;
}
.footer-fa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  background-color: white;
  margin-left: 20px;
  color: #b2b2b2;
  padding: 10px 10px;
}
.fab:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.new-arrivals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  background-color: #f8f3f4;
}
.new-arrivals-left {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  line-height: 20px;
  text-transform: uppercase;
}
.new-arrivals-right, .new-arrivals-right-passive {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
}
.new-arrivals-right-passive::after, .new-arrivals-right-passive-passive::after {
  content: "/";
}
.new-arrivals-right-passive:hover, .new-arrivals-right-passive-passive:hover {
  color: #b39797;
}
.new-arrivals-right-acitve, .new-arrivals-right-passive-acitve {
  color: #f16d7f;
}
.new-arrivals-right-acitve:hover, .new-arrivals-right-passive-acitve:hover {
  color: #b39797;
}

.category {
  padding-top: 59px;
  display: flex;
}
.category-left {
  width: 243px;
}
.category-left-form {
  margin-left: 0;
  outline: none;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
  margin-bottom: 18px;
  display: block;
  padding-top: 2px;
  padding-bottom: 12px;
}
.category-left-form:hover {
  box-shadow: 0 0 3px 1px #f16d7f;
}
.category-left-browse {
  outline: none;
  background-color: #fff;
  margin-left: 4px;
  width: auto;
  height: auto;
}
.category-left-flex {
  width: 193px;
}
.category-left-summary {
  font-size: 14px;
  font-weight: bold;
  color: #ef5b70;
  line-height: 20px;
  text-transform: uppercase;
}
.category-left-summary-drop {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
}
.category-right {
  max-width: 848px;
  margin-left: 49px;
}
.category-right-forms {
  display: flex;
}
.category-right-sort {
  height: 50px;
  background-color: #f3f3f3;
}
.category-right-products-a {
  display: flex;
  margin-top: 20px;
}

.size {
  width: 236px;
}

.size-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  margin-right: 15px;
}
.checkbox + label {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 10px;
}

.price {
  width: 263px;
}

.trending {
  width: 176px;
}
.trending__h2 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.trending__link {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 30px;
}
.trending__link:hover {
  color: #f16d7f;
}
.trending__link:not(:nth-child(3n+1)):after {
  content: "    |    ";
  color: #dfdfdf;
}

.drop {
  background-color: white;
  border-radius: 5px;
  padding: 12px 20px;
  position: absolute;
  display: none;
  top: 46px;
  border: 1px solid #ececec;
}

.cart__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__product-discription-link {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.cart__product-discription-link:hover {
  color: #f16d7f;
}
.cart__product-discription-price {
  font-size: 12px;
  color: #f16d7f;
}
.cart__product-line {
  border: 1px solid #ececec;
  margin: 17px 0;
}
.cart__product-total {
  display: flex;
  justify-content: space-between;
  margin: 19px 0;
}
.cart__product-total span {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.cart__img:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.cart__product-button {
  width: 232px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f16d7f;
  margin-bottom: 11px;
}
.cart__product-button-passive {
  border: 1px solid #4a4a4a;
}
.cart__product-button-link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f16d7f;
  padding: 17px 77px;
}
.cart__product-button-link-passive {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 17px 74px;
  color: #4a4a4a;
}
.cart__product-button-link-passive:hover {
  box-shadow: 0 0 7px #4a4a4a;
}
.cart__product-button-link:hover {
  box-shadow: 0 0 7px #f16d7f;
}

.fas {
  margin: 11px 0;
  font-size: 16px;
  color: #c0c0c0;
}
.fas:hover {
  color: #4a4a4a;
}

.category-right-pagination {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.pagination__left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 261px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.pagination-link {
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  padding: 8px;
}
.pagination-link:hover {
  color: #f16d7f;
}

.category-right-pagination {
  margin-top: 43px;
}

.pagination__right {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f16d7f;
}
.pagination__right-link {
  font-size: 16px;
  font-weight: 300;
  color: #f16d7f;
  padding: 11px 47px;
}
.pagination__right-link:hover {
  box-shadow: 0 0 7px #f16d7f;
}

.product__features {
  background-color: #222222;
  height: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}
.product__features-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__features-flex-h2 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product__features-flex-p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.category-right-sort {
  margin-top: 41px;
  display: flex;
  align-items: center;
}
.category-right-sort-type, .category-right-sort-value {
  display: flex;
  text-align: center;
  height: 30px;
}
.category-right-sort-type-drop-flex, .category-right-sort-value-drop-flex {
  width: 46px;
}
.category-right-sort-type-browse, .category-right-sort-value-browse {
  height: 30px;
  background: #fff;
}
.category-right-sort-type-summary, .category-right-sort-value-summary {
  margin-left: 0;
  margin-top: 7px;
}
.category-right-sort-type-span, .category-right-sort-value-span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  outline: 1px solid #e6e6e6;
  padding: 0 13px;
  margin-left: 10px;
}

.subscribe__product {
  margin-top: 0;
}

.product-example {
  background-color: #f2f2f2;
  padding-top: 11px;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-example .button-prev-link, .product-example .button-next-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 14px;
  height: 40px;
  width: 40px;
  background-color: #e1e1e1;
}
.product-example .button-prev-link:hover, .product-example .button-next-link:hover {
  background-color: #f16d7f;
}

.product-discription-content {
  padding-top: 73px;
  padding-bottom: 122px;
  outline: 1px solid #f2f2f2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-discription-content-addres {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 24px;
}
.product-discription-content-line {
  margin-top: 15px;
  margin-bottom: 17px;
  height: 6px;
  width: 100px;
  background-color: #f16d7f;
}
.product-discription-content-moschino {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  line-height: 24px;
  text-transform: uppercase;
}
.product-discription-content-p {
  margin-top: 67px;
  width: 730px;
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
}
.product-discription-content-price {
  margin-top: 50px;
  font-size: 0.847cm;
  color: #ef5b70;
  font-weight: bold;
  line-height: 1;
}
.product-discription-content-price-line {
  margin-top: 43px;
  margin-bottom: 63px;
  width: 730px;
  border: 1px solid #f2f2f2;
}
.product-discription-content-forms {
  display: flex;
}
.product-discription-content-button {
  margin-top: 28px;
}
.product-discription-content-button:hover {
  box-shadow: 0 0 5px 2px #f16d7f;
}
.product-discription-content-button div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 537px;
  height: 55px;
  border: 1px solid #f16d7f;
}
.product-discription-content-button div span {
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
}
.product-discription .discr-info {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.product-discription .discr-info-main {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  text-align: center;
  line-height: 24px;
}
.product-discription .discr-info-details {
  color: #2f2f2f;
}

.also {
  margin-top: 119px;
}
.also-p {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.also-product {
  display: block;
  height: 280px;
  width: 261px;
}
.also-product:hover .also-star {
  display: flex;
}
.also-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 18px;
}
.also-star {
  display: none;
}

.fa-star {
  font-size: 15px;
  color: #e4af48;
  text-align: center;
  text-transform: uppercase;
}

.goods {
  margin-top: 90px;
}
.goods__line {
  border: 1px solid #e2e2e2;
  margin: 21px 0;
}
.goods__header {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: end;
}
.goods__header-name-1 {
  justify-self: start;
}
.goods__item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: end;
  align-items: center;
}
.goods__item-details {
  display: flex;
  justify-self: start;
}
.goods__item-details-img {
  margin-right: 21px;
}
.goods__item-details-img:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}
.goods__item-details-discription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.goods__item-details-discription-link {
  font-weight: bold;
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.goods__item-details-discription-option-main {
  font-size: 13px;
  color: #575757;
  line-height: 20px;
}
.goods__item-details-discription-option-passive {
  font-size: 13px;
  font-weight: 300;
  color: #6f6e6e;
  line-height: 20px;
}
.goods__item-option {
  font-size: 13px;
  color: #656565;
  line-height: 20px;
}
.goods__footer {
  display: flex;
  justify-content: space-between;
}
.goods__footer-button {
  padding: 20px 38px;
  outline: 1px solid #e2e2e2;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}
.goods__footer-button:hover {
  outline: 1px solid #f16d7f;
  color: #f16d7f;
}

.option-1 {
  margin-right: 20px;
}
.option-2 {
  width: 10px;
  margin-right: 8px;
  padding: 10px 23px;
  outline: 1px solid #eaeaea;
}
.option-3 {
  margin-right: 15px;
}
.option-4 {
  margin-right: 15px;
}
.option-5 {
  margin-right: 17px;
}

.apply {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}
.apply__line {
  width: 275px;
  border: 1px solid #e2e2e2;
  margin: 21px 40px;
}
.apply__block {
  display: flex;
  flex-direction: column;
  width: 355px;
}
.apply__block-head {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.apply__block-head-details {
  width: 335px;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: 1px solid #b1b1b1;
  background: #ffffff;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
}
.apply__block-head-drop {
  padding: 12px 100px 12px 20px;
}
.apply__block-text {
  font-size: 16px;
  color: #222222;
  margin-bottom: 24px;
}
.apply__block-input {
  height: 45px;
  width: 315px;
  outline: 1px solid #b1b1b1;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  margin-bottom: 20px;
}
.apply__block-input:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}
.apply__block-button {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 12px;
  outline: 1px solid #b1b1b1;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}
.apply__block-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}
.apply__block-right {
  background-color: #f5f3f3;
  align-items: flex-end;
}
.apply__block-right-div-1 {
  margin: 40px 40px 14px 0;
}
.apply__block-right-div-2 {
  margin: 0 40px 14px 0;
}
.apply__block-sub {
  font-size: 11px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-left: 15px;
}
.apply__block-total {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.apply__block-total-active {
  color: #f16d7f;
  margin-left: 15px;
}
.apply__block-total-button {
  width: 273px;
  margin-right: 40px;
  padding: 19px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #f16d7f;
}
.apply__block-total-button:hover {
  box-shadow: 0px 0px 10px 0px #f16d7f;
}

.subscribe-shopping-cart {
  margin-top: 79px;
}

.checkout {
  margin-top: 89px;
}
.checkout__line {
  border: 0.5px solid #cecece;
  margin-top: 39px;
  margin-bottom: 39px;
}
.checkout__info {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.checkout__shipping {
  margin-top: 39px;
  margin-bottom: 79px;
  display: flex;
}
.checkout__register {
  margin-left: 35px;
  width: 487px;
}
.checkout__register-main {
  font-size: 13px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}
.checkout__register-sub {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
  margin-bottom: 34px;
}
.checkout__register-chevron {
  margin-top: 34px;
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
}
.checkout__register-form {
  margin: 30px 0;
}
.checkout__register-radio {
  font-size: 12px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.checkout__register-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 180px;
  padding: 19px 0;
  border: 1px solid #b3b2b2;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}
.checkout__register-button:hover {
  color: #f16d7f;
  box-shadow: 0 0 5px 0 #f16d7f;
  border: 1px solid #f16d7f;
}
.checkout__logIn-but {
  display: flex;
}
.checkout__logIn-form {
  margin-top: 27px;
}
.checkout__logIn-button {
  font-size: 14px;
  color: #222222;
  line-height: 20px;
  padding: 5px;
  margin: 44px 0 0 32px;
}
.checkout__logIn-button:hover {
  color: #f16d7f;
}
.checkout__logIn-nessesary {
  font-size: 13px;
  font-weight: bold;
  color: #ff0d0d;
}
.checkout__logIn-label {
  font-size: 12px;
  color: #222222;
  line-height: 20px;
  margin-top: 27px;
}
.checkout__logIn-input {
  width: 370px;
  height: 45px;
  padding: 0 10px 0 10px;
  border: 1px solid #d4d4d4;
  color: #b3b2b2;
  margin: 16px 0 22px 0;
}

.fa-angle-double-right {
  margin-right: 4px;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
